/* Floating animation */
.floating-up-down{
    animation: floating-up-down 3s ease-in-out infinite;
}

/* Animation Utility Classes */
.animation-delay-1s{
    animation-delay: 1s;
}
.animation-delay-2s{
    animation-delay: 2s;
}
.animation-delay-3s{
    animation-delay: 3s;
}
.animation-none{
    animation:none;
}


@keyframes floating-up-down{
    0% {
        transform: translateY(0); /* Initial position */
    }
    50% {
        transform: translateY(-5px); /* Move up by 10px */
    }
    100% {
        transform: translateY(0); /* Move back to original position */
    }
}



/* Utility classes */
.font-sabon, p{
    font-family: 'Sabon Next LT', sans-serif;
}
.font-maghfirea, h1, h2, h3, h4, h5, h6{
    font-family: 'Maghfirea', sans-serif;
}
.color-brown{
    color: #533E2D;
}
.color-green{
    color: #618B25;
}


header{
    /* background-color: rgba(255, 255, 0, 0.533); */
    /* padding: 20px; */
    border: 2px solid black;
}
body{
    background-color: #E0E1DD;
    border: 5px solid rgb(155, 48, 141);     
    color: #533E2D;  
    font-size: 16px;
    background-image: url('images/canvas-bg.jpeg');
    background-attachment: fixed; 
}
main{
    /* background-color: rgba(121, 121, 235, 0.596); */
    border: 5px dotted rgb(250, 152, 237);
    /* min-height: calc(100vh - 150px);  */
}
footer{
    /* background-color: rgb(255, 0, 0); */
    border: 3px solid rgb(242, 122, 122);    
    color: #533E2D;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
footer p{
    margin:0;
}
footer a{
    color:#533E2D;
    text-decoration: none;
}

.about-page-button{
    background-color: #618B25;
    border-radius: 15px;
    padding: 10px;
    color: white;
    border: 2px solid #533E2D;
    text-align: center;
    font-family: 'Sabon Next LT', sans-serif;
    text-decoration: none;
    min-width: 130px;
}


 button:hover, button a:hover, .about-page-button:hover {
    background-color: #E0E1DD;
    color: #533E2D;
    animation: none;
}


/* INDEX.HTML STYLES */
#mobile-sidebar{
    background-color: transparent;
}
#mobile-sidebar button{
    background-color: #618B25;
}

/* Make the btn-close icon white */
.btn-close {
    /* credit: https://icons.getbootstrap.com/icons/x-lg/ */
    background-image: url('images/x-lg.svg');
}
#tablet-sidebar{
    list-style: none;
    padding-left: 0;
    padding-top: 60%;
    text-align: center;
}
#tablet-sidebar li{
    margin: 15px 0;
}

.tablet-sidebar-button {
    background-color: transparent;
    padding: 0;
    border: none;
    width: 100%;
}
/* style a tag as button */
.tablet-sidebar-button a {
    display: block;
    background-color: #618B25;
    color: white;
    border: 2px solid #533E2D;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Sabon Next LT', sans-serif;
    text-decoration: none;
}

#home-page-title{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #618B25;
}

#home-page-subheading{
    font-weight: bold;
    color: #618B25;
    font-size: 2rem;
}
.home-page-img{
    width: auto;
    max-height: 500px;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 10px;
}
.home-page-img-laptop{
    display: none;
    width: auto;
    max-height: 500px;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 10px;
}
#home-page-para{
    text-indent: 25px;
    margin-top: 25px;
    text-align: justify;
  
    line-height: 2.5;
    font-size: 1.2rem;
}

#laptop-horizontal-navbar{
    display: none;
}

#laptop-horizontal-navbar .nav-item .nav-link, #laptop-horizontal-navbar .navbar-brand{
    transition: transform 0.2s ease-in-out;
    color: #533E2D;
}

#laptop-horizontal-navbar .nav-item .nav-link:hover, #laptop-horizontal-navbar .navbar-brand:hover{
    transform: scale(1.2);
    color: #618B25;
    font-weight: bold;
}

/* ABOUT PAGE STYLES */
.col{
    border: 5px double rgb(5, 30, 255);
}
.about-page-img{
    width: 100%;
    height: auto;
    max-width: 350px;
    height: auto;
}
.about-page-heading{
    text-transform: uppercase;
    text-align:center;
}

.about-page-text{
    line-height: 2;
    font-size: 1.1rem;
    text-align: justify;
}

#cat-carousel{
    width: 90%;
    max-width: 400px;
    height: auto;
}


/* Mobile (up to 575px) */
@media (max-width: 575px) {
    footer{
        font-size: 1rem;
    }

    /* INDEX PAGE BREAKPOINTS */
        .home-page-img{
            width: auto;
            max-height: 350px;
            margin-bottom: 25px;
            padding: 0;
            border-radius: 10px;
        }
        #home-page-para{
            line-height: 2;
        } 
}

/* Tablet (576px to 850px) */
@media (min-width: 576px) and (max-width: 850px) {
    /* Styles for tablets */

    /* INDEX.HMTL BREAKPOINT*/
        .home-page-img{
            width: auto;
            max-height: 450px;
            margin-bottom: 25px;
            padding: 0;
            border-radius: 10px;
        }
        #mobile-sidebar{
            display: none;
        }

    /* ABOUT PAGE BREAKPOINTS */
    
        
    

}

/* Desktop (850px and up) */
@media (min-width: 850px) {
    
    /* INDEX.HTML BREAKPOINT(S) */
    #mobile-sidebar, #tablet-sidebar{
        display: none;
    }
    #laptop-horizontal-navbar, .home-page-img-laptop{
        display: block;
    }
    .home-page-img{
        display: none;
    }
    .home-page-img-laptop{
        width: auto;
        min-width: 350px;
        max-height: 600px;
    }

}


