/* Utility classes */
.font-sabon, p{
    font-family: 'Sabon Next LT', sans-serif;
}
.font-maghfirea, h1, h2, h3, h4, h5, h6{
    font-family: 'Maghfirea', sans-serif;
}
.color-brown{
    color: #533E2D;
}

header{
    /* background-color: rgba(255, 255, 0, 0.533); */
    padding: 20px;
    border: 2px solid black;
}
body{
    background-color: #E0E1DD;
    border: 5px solid rgb(255, 255, 255);     
    color: #533E2D;  
    font-size: 16px;
    background-image: url('images/canvas-bg.jpeg');
    background-attachment: fixed;  
}
main{
    /* background-color: rgba(121, 121, 235, 0.596); */
    border: 2px solid black;
}
footer{
    /* background-color: rgb(255, 0, 0); */
    border: 3px solid rgb(242, 122, 122);    
    color: #533E2D;
    text-align: center;
    padding: 7px;
}
footer p{
    margin:0;
}
footer a{
    color:#533E2D;
    text-decoration: none;
}


/* INDEX.HTML STYLES */
    #mobile-sidebar{
        background-color: transparent;
    }
    #mobile-sidebar button{
        background-color: #618B25;
    }
    .navbar-toggler-icon{
        /* Credit: https://icons8.com/icons/set/hamburger--white */
        background-image:url("images/hamburger-menu-icon.svg");
    }
        


/* Mobile (up to 600px) */
@media (max-width: 600px) {
    footer{
        font-size: .85rem;
    }

    /* INDEX PAGE BREAKPOINTS */
        #home-page-title{
            font-size: 75px; 
            text-align: center;
        }

        .home-page-img{
            width: auto;
            max-height: 350px;
            margin-bottom: 25px;
            padding: 0;
            border-radius: 10px;
        }

        #home-page-para{
            text-indent: 25px;
            margin-top: 25px;
            line-height: 2;
            text-align: justify;
        }

}

/* Tablet (601px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    /* Styles for tablets */
}

/* Desktop (1025px and up) */
@media (min-width: 1025px) {
    /* Styles for desktops */
}


